Q.1) Jumbled word : OBANWRI

Ans.: RAINBOW

Q.2) Program to print "LETS UPGRADE"

In [1]:
#print "LETS UPGRADE"
print("LETS UPGRADE")

LETS UPGRADE

Q.3) Profit and Loss Program

In [4]:
cost_price = int(input())
selling_price = int(input())

if (cost_price == selling_price):
  print("Neither\n")
elif (cost_price > selling_price):
  print("Loss\n")
else:
  print("Profit\n")

20
10
Loss

Q.4) Convert Euros to Rupees

(Assume 1 Euro = Rs. 80)

In [3]:
num = int(input())

amount = num * 80
print(amount)

20
1600