Q.1) Jumbled word : OBANWRI

Ans.: RAINBOW

Q.2) Program to print "LETS UPGRADE"

In [1]:
#print "LETS UPGRADE"
print("LETS UPGRADE")

LETS UPGRADE

Q.3) Profit and Loss Program

cost_price = int(input())
selling_price = int(input())

if (cost_price == selling_price):
  print("Neither\n")
elif (cost_price > selling_price):
  print("Loss\n")
else:
  print("Profit\n")

In [6]:
test_case = int(input())

while (test_case != 0):

  cost_price = int(input())
  selling_price = int(input())

  if (cost_price == selling_price):
    print("Neither\n")
  elif (cost_price > selling_price):
    print("Loss\n")
  else:
    print("Profit\n")
  
  test_case = test_case - 1

6
20
30
Profit

20
10
Loss

20
20
Neither

19
19
Neither

23
7
Loss

19
95
Profit

Q.4) Convert Euros to Rupees

(Assume 1 Euro = Rs. 80)

In [7]:
test_case = int(input())

while (test_case != 0):

  num = int(input())

  amount = num * 80

  print(amount,"\n")
  
  test_case = test_case - 1

8
20
1600

50
4000

72
5760

7
560

35
2800

23
1840

95
7600

18
1440